<section class="col-md-12 mt-5 container mb-5" style="display: flex;">
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        
        <h1 class="card-subtitle mb-2 text-body-secondary">
          <i class="bi bi-check-circle text-success"></i>
        </h1>
        <h5 class="card-title"><a href="#" class="card-link">Check In</a></h5>
        
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        
        <h1 class="card-subtitle mb-2 text-body-secondary">
          <i class="bi bi-ticket-detailed text-danger"></i>
        </h1>
        <h5 class="card-title"><a href="#" class="card-link">Fly8 Buddy Pass</a></h5>
        
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        
        <h1 class="card-subtitle mb-2 text-body-secondary">
          <i class="bi bi-airplane text-warning"></i>
        </h1>
        <h5 class="card-title"><a href="#" class="card-link">Flight Status</a></h5>
        
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body text-center">
        
        <h1 class="card-subtitle mb-2 text-body-secondary">
          <i class="bi bi-pencil-square text-primary"></i>
        </h1>
        <h5 class="card-title"><a href="#" class="card-link">Manage Booking</a></h5>
        
      </div>
    </div>
    
  </section>
  